services:

  grpc-sample-server-prod:
    build:
      context: .
      dockerfile: docker/go.prod.Dockerfile
    image: ${IMAGE_NAME:-grpc-sample-server}:${IMAGE_VERSION:-latest}
    container_name: grpc-sample-server-prod
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - GRPC_PORT=8000

networks:
  traefik-network:
    external: true
    name: traefik-network
